body{
  width: 90%;
  text-align: center;
  padding:50px;
  margin: 0 auto;
}

.content{
  overflow: auto;
}

header{
  letter-spacing: .1em;
}

li{
  display: inline;
  padding-right: 10%;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: .1em
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color:green;
}

nav, .feature, footer{
  margin: 1%;
}

nav{
  margin: 35px;
}


.feature{
  font-size: 34px;
  background-color: #efefef;
  font-style: italic;
  letter-spacing: .1em;
  padding: 0.5em 0;
}

.feature{
  margin-bottom: 1em;
}

.quote1, .quote2, .quote3 {
  width: 31.3%;
  float: left;
  margin: 1%;
}

.quote3{
  margin-right:0%;
}
