body{
  width: 960px;
  text-align: center;
  padding:50px;
  margin: 0 auto;
}

.content{
  overflow: auto;
  height: 100%;
}

header{
  letter-spacing: .5em;
}

li{
  display: inline;
  padding-right:102px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: .1em
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color:green;
}

nav, .feature, footer{
  margin: 10px;
  padding:10px;
}

.feature{
  font-size: 34px;
  background-color: #efefef;
  font-style: italic;
  letter-spacing: .1em;
}

.quote1, .quote2, .quote3 {
  width: 300px;
  float: left;
  margin: 10px;
}
