body{
  text-align: center;
  font-family: monospace;
  border: 1px double black;
  padding:50px;
  margin: 10px;
}

header{
  letter-spacing: .5em;
}

#first-word{
  text-transform: uppercase;
  font-family: serif;
  font-weight: lighter;
  font-size: 25px;
  margin-bottom: 0px;

}

#second-word{
  text-transform: uppercase;
  font-family: serif;
  font-size: 55px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
}

#third-word{
  text-transform: uppercase;
  font-family: serif;
  font-weight: lighter;
  font-size: 25px;
  margin-top: 0px;
}


li{
  display: inline;
  padding-right:102px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: .1em
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color:green;
}

nav{
  border-top: 5px solid black;
  border-bottom: 1px solid black;
  margin: 35px;
  padding:15px;
}

h4{
  font-size: 25px;
  font-weight: lighter;
}

label{
  width:100px;
  float:left;
  text-align: left;
  padding: 5px;
  font-size: 16px;
}

#basic {
  display:block;
  width: 200px;
  padding:5px;
  margin-left:5px;
  color:black;
  font-weight: 300;

}

form{
  border:3px dashed gray;
  border-style: outset;
  margin: auto;
  padding:15px;
  width: 250px;
  background: hsl(120, 20%, 90%);

}

.submit input{
  margin: 15px;
  background-color:gray;
  border-radius: 15%;
  font-family:monospace;
  color: white;
  cursor: pointer;
}
